.container {
    height: calc(80vh - 80px);
    background-color: #121212;
 
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    margin: 0 40px;
    box-shadow: 5px 5px 30px 7px rgba(209, 209, 209, 0.11), -5px -5px 30px 7px rgba(0,0,0,0.22);
    background-color: rgb(43, 42, 42);
    height: 350px;
    border-radius: 20px;
    padding: 0 15px;
}

.items {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item:first-child {
    display: flex;
    flex: 1;
}

.item:nth-child(2) {
    display: flex;
    flex: 1;
}

.item:last-child {
    display: flex;
    flex: 1;
}

.item h1  {
    color: antiquewhite;
    line-height: 5px;
}

.item p {
    color: antiquewhite;
}

@media screen and (max-width: 480px){

    .container {
        height: calc(170vh - 80px);
    }
    .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .item{
        display: flex;
        /* justify-content: center;
        align-items: center; */
        height: auto;
        margin-bottom: 15px;
    }

    .item h1 {
        line-height: 30px;
    }

}